name: Video Push

on: [workflow_dispatch, repository_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id

    steps: 
      - name: Checkout source
        uses: actions/checkout@v3
      
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependence
        run: |
          wget -q https://github.com/eugeneware/ffmpeg-static/releases/latest/download/linux-x64
          sudo mv linux-x64  /usr/local/bin/ffmpeg && chmod +x /usr/local/bin/ffmpeg
          #sudo npm install atob jsdom -g
          pip install -r requirements.txt

      - name: Start task
        env:
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH }}
        run: |
            openssl enc -aes128 -pbkdf2 -d -in tg_client.aes128 -out tg_client.session -pass env:API_HASH
            python3 main.py
            openssl enc -aes128 -pbkdf2 -in tg_client.session -out tg_client.aes128 -pass env:API_HASH && rm tg_client.session

      - name: Update repo
        env:
          ACTOR: ${{ github.actor }}
          REPO: ${{ github.repository }}
        run: |
          git config --local user.email "${ACTOR}@users.noreply.github.com"
          git config --local user.name "${ACTOR}"
          git add .
          git commit -m 'update' || exit 0
          git push origin main
          
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 1
          keep_minimum_runs: 6
